.testimonial-section{
    padding: 80px 0;
}
.testimonial-section-title h2{
    text-align: center;
}
.testimonial-reviews{
    padding-top: 50px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .testimonial-section {
        padding: 30px 0;
    }
    .testimonial-reviews {
        padding-top: 20px;
    }
    .testimonial-card-content {
        text-align: center;
        padding: 20px 30px;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .testimonial-section {
        padding: 50px 0;
    }
    .testimonial-reviews {
        padding-top: 20px;
    }
    .testimonial-card-content {
        text-align: center;
        padding: 20px 30px;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .testimonial-section {
        padding: 70px 0;
    }
    .testimonial-card-content {
        text-align: center;
        padding: 20px 25px;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 /* @media only screen and (min-width: 992px) {} */
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 /* @media only screen and (min-width: 1200px) {}  */