.adventure-section{
    padding: 130px 0;
    position: relative;
}
.adventure-centent h2{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 15px;
}
.adventure-centent h2 span{
    display: block;
    font-size: 30px;
    font-weight: 500;
}
.adventure-centent h6{
    font-size: 20px;
    font-weight: 500;
}
.adventure-list{
    margin-top: 20px;
}
.adventure-list ul{
    list-style: disc;
    padding-left: 20px;
}
.adventure-list ul li{
    font-size: 16px;
}
.adventure-button{
    padding-top: 50px;
}
.circle{
    position: absolute;
    top: 5%;
    right: 15%;
}
.half-circle{
    position: absolute;
    top: 20%;
    right: 50%;
}
.circle img,
.half-circle img{
    width: 100%;
}