.adventure-section{
    padding: 100px 0;
    position: relative;
}
.adventure-centent h2{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 15px;
}
.adventure-centent h2 span{
    display: block;
    font-size: 30px;
    font-weight: 500;
}
.adventure-centent h6{
    font-size: 20px;
    font-weight: 500;
}
.adventure-list{
    padding-top: 20px;
    padding-left: 20px;
}
.adventure-list ul{
    list-style: disc;
    padding-left: 20px;
}
.adventure-list ul li{
    font-size: 16px;
}
.adventure-button{
    padding-top: 50px;
}
.circle{
    position: absolute;
    top: 5%;
    right: 15%;
}
.half-circle{
    position: absolute;
    top: 20%;
    right: 50%;
}
.circle img,
.half-circle img{
    width: 100%;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .adventure-section {
        padding: 30px 0;
    }
    .adventure-centent h2 {
        font-size: 26px;
    }
    .adventure-centent h2 span {
        display: block;
        font-size: 24px;
    }
    .adventure-centent h6 {
        font-size: 18px;
    }
    .adventure-button {
        padding-top: 30px;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .adventure-section {
        padding: 50px 0;
    }
    .adventure-centent h2 {
        font-size: 36px;
    }
    .adventure-centent h2 span {
        display: block;
        font-size: 28px;
    }
    .adventure-centent h6 {
        font-size: 18px;
    }
    .adventure-button {
        padding-top: 50px;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .adventure-section {
        padding: 70px 0;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 /* @media only screen and (min-width: 992px) {} */
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .adventure-section {
        padding: 100px 0;
    }
 } 